

.container {
  width:100%;
  margin: auto;

  text-align: center;
}

.pikachu{
  width: 18rem;
  text-align: center;
  display: inline-block;
}


.pikachu-img:hover{
  background-color: #5F9EA0;
  /* border: 0.1rem solid  yellow; */

}
.sonic-img:hover{
    background-color: #5F9EA0;
  /* border:  0.1rem solid #3079D6; */

}
.sonic{
  width: 18rem;
  text-align: center;
  display: inline-block;
}
.player2{
  padding-bottom: 15%;
}

.dice {

  text-align: center;
  display: inline-block;
  height: 15.5rem;
}

@keyframes roll {

  0%   {transform: rotate(0deg)}
 25%  {transform: rotate(90deg)}
 50%  {transform: rotate(-90deg)}
 75%  {transform: rotate(90deg)}
 100% {transform: rotate(0deg)}
}

.play{
  margin : 0 auto;
  width: 70%;
  text-align: center;
}

.play-button{

  width: 20%;
  height: 100px;
  font-size: 3.5rem;
  border-radius: 20px;

  border-width: thick;
  background-color: #393E46;
  color: #4ECCA3;
  border-color: #4ECCA3 ;


  font-family: 'Lobster', cursive;
}
.play-button:hover{

    border-color: #69F033;
    color: #69F033;
    background-color: #005D64;
}

.pressed{
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}



body {
  /* background-color: #393E46; */
  /* background-image: rgb(57, 62, 70 , 0.8) url(images/diceWall.jpg); */

  background-image: linear-gradient(
  rgb(57, 62, 70 , 0.7) ,
  rgb(57, 62, 70 , 0.7)) ,
  url(images/diceWall.jpg);
  /* background-size: cover; */

}


h1 {
  margin: 20px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 60%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
